<simple-notifications [options]="notificationOptions"></simple-notifications>
<div class="container main">
  <div class="row">
    <div class="map col-lg-8">
    <to-map></to-map>
    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
          <to-stats [money]="money" [income]="income"></to-stats>
        </div>
      </div>
      <div class="row reverse-button">
        <div class="col-lg-6 col-lg-offset-3">
          <button class="btn btn-warning btn-lg btn-block" (click)="restoreMemento()" [disabled]="!gameService.caretaker.getMementosCount()">Cofnij</button>
        </div>
      </div>
      <to-building-list></to-building-list>
    </div>
  </div>


</div>
